{% extends 'eshop/basic.html' %}

{% block title %} {{product.product_name}} || My Awesome Cart {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-4 mt-5">
            <div class="row">
                <img src="/media/{{product.image}}" class="card-img-top imgs" alt="...">
            </div>
            <div class="row mt-2">
                <button class="btn btn-warning mx-3">Buy Now</button>
                <button class="btn btn-warning">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-8 mt-5">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs : {{product.price}}</b></p>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>


{% endblock %}

{% block js %} 
<script>
  if(localStorage.getItem('cart')==null){  
    var cart={};
    console.log('Working Cart null')
  }else{
    cart= JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML=Object.keys(cart).length;
  }
  $('.cart').click(function(){
    var idstr=this.id.toString();
       if(cart[idstr] != undefined){
         cart[idstr]=cart[idstr]+1;
       }else
       {
        cart[idstr]=1;
       }
       console.log(cart);
       localStorage.setItem('cart',JSON.stringify(cart));
       document.getElementById('cart').innerHTML=Object.keys(cart).length;
  });
  $('#popcart').popover();
  document.getElementById("popcart").setAttribute('data-content','<h5>Cart for your items in myshopping cart</h5>');
</script>
{% endblock %}